@use "@angular/material" as mat;
@use "src/colors";

nav {
  background-color: colors.$nav-bg-color;
  -webkit-box-shadow: 0 1px 12px colors.$nav-shadow-color;
  -moz-box-shadow: 0 1px 12px colors.$nav-shadow-color;
  box-shadow: 0 1px 12px colors.$nav-shadow-color;

  .navbar-brand {
    color: colors.$nav-active-color !important;
  }
  .link {
    color: colors.$nav-color !important;

    &.active {
      color: colors.$nav-active-color !important;
    }
    &:hover:not(.active) {
      color: colors.$nav-hover-color !important;
    }
  }
}
