@use '@angular/material' as mat;
@use 'src/colors';

@include mat.core();

$kids-typography: mat.define-typography-config(
        $font-family: Lato
);

$my-theme: mat.define-light-theme((
        color: (
                primary: colors.$palette-primary,
                accent: colors.$palette-accent,
                warn: colors.$palette-warn,
        ),
        typography: $kids-typography,
));

@include mat.all-component-themes($my-theme);
@include mat.button-theme($my-theme);
